
body{
    background-color: #ccd5ae;
    font-family: "Nunito",sans-serif;
}

#mainNavbar {
    
    font-size: 1.rem;
    font-weight: 100;
}

#mainNavbar .nav-link{
    color: #fefae0;
}

#mainNavbar .nav-link:hover{
    color: black;
}

#mainNavbar .navbar-brand {
    color: #283618;
    font-size: 1.5rem;
}

#headingGroup span{
    color: #283618;
    font-weight: 300;
}
#headingGroup h1{
    font-weight: 100;
    font-size: 2.5rem;
}
@media (max-width: 1200px) {
    #headingGroup h1{
        font-weight: 100;
        font-size: 2rem;
    }
}



.navbar.scrolled{
    background-color: rgba(144, 168, 65, 0.95);
    transition: background .4s;
}

section svg{
    color: white;
}

.blurb h2{
   color: #283618;
   font-weight: 100;
   font-size: 2rem;
}

.blurb p{
    color: #606c38;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 1.8;
}

footer{
    background-color: #edede9;
}

footer h2{
    font-weight: 300;
    font-size: 2rem;
}

.ff{
    font-weight: 300;
    font-size: 1.5rem;
}
footer svg{
    color: #283618;

}

footer div a{
    color: #283618;
    font-weight: 100;
    font-size: 1rem;
    display: block;
    margin: 10px;
}

