body{
    background-color: #ccd5ae;
    font-family: "Nunito",sans-serif;
}

#mainNavbar {
    font-size: 1.rem;
    font-weight: 100;
}

#mainNavbar .nav-link{
    color: #fefae0;
}

#mainNavbar .nav-link:hover{
    color: #606c38;
}

#mainNavbar .navbar-brand {
    color: #283618;
    font-size: 1.5rem;
}

#headingGroup span{
    color: #283618;
    font-weight: 300;
}
#headingGroup h1{
    font-weight: 100;
    font-size: 2.5rem;
}
@media (max-width: 1200px) {
    #headingGroup h1{
        font-weight: 100;
        font-size: 2rem;
    }
}
